#header{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}

#text-input{
    border-radius: 0.5rem;
    padding: 1rem;
    height: 3rem;
    border: 2px solid rgba(128, 128, 128, 0.459);
    background-color: white;
}

#text-input:focus{
    border: 2px solid #3B71CA;
}

.btn-add{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.header-image{
    width: 200px;
    height: 200px;
}

#header-content{
    width: 100%;
}

.search{
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    
}
